# Don't keep any unlisted files. This is a working directory which will contain a lot of noise.
*

# Build environments. Keep directory only. Each build environment has its own .gitignore to ignore contents.
#   Alternative is to create a "build" directory, with all configurations under it.
!/ubuntu/
!/ubuntu22/
!/windows/
!/mingw/
!/cygwin/

# Keep the following in the main dirctory.
!/.gitignore
!/CMakeLists.txt
!/*.sh

# Keep the JetBrains configuration, except the workspace and tasks.
!/.idea/
/.idea/workspace.xml
/.idea/tasks.xml

# Always ignore these. They seem to confuse git.
.gitmodules
.idea/modules.xml